<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="selenium:firefoxdriver" value="true" />
  <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="selenium:InternetExplorerDriver" value="false" />
  <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="selenium:chromedriver" value="false" />
    </appSettings>
</configuration>