<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
  <appSettings>
    <add key="selenium:chromedriver" value="true" />
    <add key="selenium:firefoxDriver" value="false" />
    <add key="selenium:ieDriver" value="false" />
    <add key="selenium:fastmode" value="false" />
    <add key="selenium:LoggingPriorityMaximum" value="10" />
    <add key="selenium:developermode" value="true" />
    <add key="selenium:TryToKillWhenNotResponding" value="false" />
    <add key="selenium:baseurl" value="http://localhost:16018/" />
    <add key="selenium:RecordStoryBoard" value="false" />
    <add key="selenium:StoryBoardingStorage" value="%tmp%\testUtils\storyboarding" />
    <add key="selenium:TraceLogger" value="false" />
    <add key="selenium:StandardOutputLogger" value="false"/>
    <add key="selenium:TestContextLogger" value="true"/>
    <add key="selenium:TestAttemptsCount" value="2"/>

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.UnitTestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>