<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings file="App.ANC_Shared.config">
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="selenium:chromedriver" value="false" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="selenium:firefoxdriver" value="true" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="selenium:InternetExplorerDriver" value="false" />

    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="selenium:testattemptscount" value="2" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="selenium:fastmode" value="true" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="selenium:developermode" value="false" />




  </appSettings>
</configuration>