<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Riganti.Utils.Testing.SeleniumCore" version="0.4.8" targetFramework="net452" />
  <package id="Selenium.Support" version="2.47.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.47.0" targetFramework="net452" />
</packages>