<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Riganti.Utils.Testing.SeleniumCore" version="1.0.0-alpha-rev2" targetFramework="net461" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net461" />
</packages>