<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Riganti.Utils.Testing.Selenium.Core" version="1.0.0-beta" targetFramework="net461" />
  <package id="Riganti.Utils.Testing.Selenium.DotVVM" version="0.1.0-pre" targetFramework="net461" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net461" />
</packages>