body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 11pt;
    color: #333;
}

h1 {
    font-weight: normal;
    font-size: 24pt;
    font-style: italic;
    color: #a82f23;
}

h2 {
    font-style: normal;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 35px;
}

h3 {
    color: #004fbd;
    font-weight: normal;
    font-size: 14pt;
}

p.summary {
    color: #004fbd;
    font-size: 1.5em;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 0 20px;
}

th {
    vertical-align: bottom;
    padding: 10px 5px 5px 5px;
    font-weight: 400;
    color: #a0a0a0;
    text-align: left;
}

td {
    padding: 3px 10px;
}

th,
td {
    border-right: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    border-left: 1px transparent solid;
    border-top: 1px transparent solid;
    box-sizing: border-box;
}

    th:last-child,
    td:last-child {
        border-right: 1px transparent solid;
    }

pre {
    font-size: 12pt;
    margin: 0px;
    font-family: "Consolas", monospace;
}

.source .source-errorLine {
    color: #a82f23;
}

.errorUnderline {
    background-color: #fff7f7;
    border: 1px solid #ff8888;
    color: #ff0909;
    padding: 4px 0;
}

input.collapse {
    display: none;
}

input[type="checkbox"].collapse ~ .collapse-on {
    display: none;
}

input[type="checkbox"]:checked.collapse ~ .collapse-on {
    display: inherit;
}

input[type="checkbox"]:checked.collapse ~ .collapse-off {
    display: none;
}

.lineNumber {
    color: #bababa;
}

label.nav {
    display: inline-block;
    padding: 4px 20px;
    font-size: 1.1em;
    color: white;
    cursor: pointer;
    background-color: #bcbcbc;
}

hr {
    border: none;
    height: 1px;
    background-color: #bcbcbc;
}

.code {
    font-family: "Consolas", monospace;
}

.object-obj,
.object-arr {
    padding-left: 10px;
}

.container {
    display: none;
}

.object-browser .propname {
    font-weight: bold;
}

.docLinks {
    float: right;
}

.source.file {
    margin: 11px 0 5px 0;
    font-size: 12px;
}

.table-danger {
    color: #de1212;
    font-weight: bold;
    font-size: 0.9rem;
}

.table-success .status {
    color: green;
}

.table td {
    padding: 0.3rem;
}

h1, h2 {
    margin-top: 25px;
}

nav {
    margin-top: 15px;
}

.update-box {
    position: absolute;
    top: 10px;
    margin-right: 40%;
    margin-left: 40%;
    text-align: center;
    width: 20%;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    vertical-align: middle;
    padding: 5px;
    background-color: #fff;
}

.compiling-update-progress {
    margin: 0;
}

@keyframes blink {
    50% {
        color: transparent
    }
}

.compiling-update-progress span {
    animation: 1s blink infinite
}

    .compiling-update-progress span:nth-child(2) {
        animation-delay: 250ms
    }

    .compiling-update-progress span:nth-child(3) {
        animation-delay: 500ms
    }
