<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ben.Demystifier" version="0.1.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.2" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.6.3" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.0.0-beta4-final" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.0.0-beta4-final" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.0.0-preview.19074.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.0.0-preview.19074.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="3.0.0-preview.19074.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="3.0.0-preview.19074.2" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.FileSystems" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.StaticFiles" version="4.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.6.0-preview.19073.11" targetFramework="net461" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.6.0-preview.19073.11" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.2" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.6.0-preview.19073.11" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="1.7.0-preview.19073.11" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0-preview.19073.11" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="4.6.0-preview.19073.11" targetFramework="net461" />
  <package id="System.Threading" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0-preview.18571.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>