<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.9.0" targetFramework="net451" />
  <package id="Knockout.Mapping" version="2.4.0" targetFramework="net451" />
  <package id="knockout.mapping.TypeScript.DefinitelyTyped" version="0.1.1" targetFramework="net451" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.6.4" targetFramework="net451" />
  <package id="knockoutjs" version="3.2.0" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.0" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="Twitter.Bootstrap.Less" version="3.3.0" targetFramework="net451" />
</packages>