<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="selenium:firefoxdriver" value="false" />
    <add key="selenium:InternetExplorerDriver" value="false" />
    <add key="selenium:chromedriver" value="true" />
    <add key="selenium:poolbrowsers" value="true" />
    <add key="selenium:testattempcount" value="2" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.UnitTestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>