<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Riganti.Utils.Testing.SeleniumCore" version="0.4.5" targetFramework="net45" />
  <package id="Selenium.Support" version="2.47.0" targetFramework="net45" userInstalled="true" />
  <package id="Selenium.WebDriver" version="2.47.0" targetFramework="net45" userInstalled="true" />
</packages>