name: Github Actions

on: ["push"]

env:
  DOTVVM_ROOT: ${{ github.workspace }}
  DOTNET_NOLOGO: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_VERSION: '5.0.301'

jobs:
  build-WarnAsError:
    name: build without warnings
    runs-on: ubuntu-latest
    steps:
    - uses: actions/cache@v2
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Install dependencies
      run: dotnet restore ci/linux/Linux.sln
      
    - name: Build (without warnings)
      run: dotnet build src/Framework/Framework --configuration Release --no-restore --no-incremental /property:WarningLevel=0
    - name: Build
      run: dotnet build src/Framework/Framework --configuration Release --no-restore --no-incremental /WarnAsError
    - name: Build (Debug)
      run: dotnet build src/Framework/Framework --configuration Debug --no-restore --no-incremental /WarnAsError
    - name: Build Hosting.AspNetCore
      run: dotnet build src/Framework/Hosting.AspNetCore --no-incremental /WarnAsError
    - name: Build Testing
      run: dotnet build src/Framework/Testing --no-incremental /WarnAsError
    - name: Build Tracing.MiniProfiler
      run: dotnet build src/Tracing/MiniProfiler.AspNetCore --no-incremental /WarnAsError
    - name: Build Tracing.ApplicationInsights
      run: dotnet build src/Tracing/ApplicationInsights.AspNetCore --no-incremental /WarnAsError
    - name: Build Dynamic Data
      run: dotnet build src/DynamicData/DynamicData --no-incremental /WarnAsError
    - name: Build Compiler
      run: dotnet build src/Tools/Compiler --no-incremental /WarnAsError

  unit-tests:
    name: dotnet unit tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
    - uses: actions/cache@v2
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Install dependencies
      run: dotnet restore src/Tests

    - name: Build framework
      run: dotnet build src/Framework/Framework/DotVVM.Framework.csproj --no-restore --no-incremental /property:WarningLevel=0
    - name: Build Tests (Release)
      run: dotnet build src/Tests --configuration Release --no-restore /property:WarningLevel=0
    - name: Build Tests (Debug)
      run: dotnet build src/Tests --configuration Debug --no-restore /property:WarningLevel=0
    - name: Unit tests (Release)
      run: |
          dotnet test src/Tests --no-build --logger "GitHubActions;report-warnings=true" --configuration Release
    - name: Unit tests (Debug)
      run: |
          dotnet test src/Tests --no-build --logger "GitHubActions;report-warnings=true" --configuration Debug

  js-tests:
    runs-on: ubuntu-latest
    name: JS unit tests
    steps:
    - uses: actions/checkout@v2
    - name: yarn install
      run: yarn --cwd src/Framework/Framework/ install --frozen-lockfile
    - name: TypeScript check
      run: yarn --cwd src/Framework/Framework/ tsc-check
    - name: yarn jest
      run: yarn --cwd src/Framework/Framework/ jest --ci --reporters=default --reporters=jest-github-actions-reporter

  ui-tests:
    name: UI tests (backup for Azure DevOooops)
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: run.sh
      run: bash ./ci/linux/run.sh
     
