name: publish-internal

on:
  workflow_dispatch:
    inputs:
      major:
        type: string
        default: "4"
        description: Major version
        required: true
      minor:
        type: string
        default: "0"
        description: Minor version
        required: true
      patch:
        type: string
        default: "0"
        description: Patch version
        required: true
      preview:
        type: string
        default: ""
        description: Preview number
        required: false
      is-final-preview:
        type: boolean
        default: false
        description: Is this a final preview version?
        required: false
      use-build-number:
        type: boolean
        default: true
        description: Append the build number?
        required: false
      additional-suffix:
        type: string
        default: ""
        description: Additional suffix
        required: false

jobs:
  read-nuget-packages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: read
        run: >
          PACKAGES=$(cat ./.github/workflows/nuget-packages.json);
          PACKAGES="${PACKAGES//'%'/'%25'}";
          PACKAGES="${PACKAGES//$'\n'/'%0A'}";
          PACKAGES="${PACKAGES//$'\r'/'%0D'}";
          echo "::set-output name=packages::{\"include\":$PACKAGES}"
    outputs:
      packages: ${{ steps.read.outputs.packages }}

  publish-package:
    runs-on: windows-2022
    timeout-minutes: 10
    needs: read-nuget-packages
    strategy:
      matrix: ${{ fromJson(needs.read-nuget-packages.outputs.packages) }}
    steps:

    - uses: actions/checkout@v2

    - name: Compose version
      run: >
        $version = $(./.github/workflows/ComposeVersion.ps1 `
          -major "${{ github.event.inputs.major }}" `
          -minor "${{ github.event.inputs.minor }}" `
          -patch "${{ github.event.inputs.patch }}" `
          -preview "${{ github.event.inputs.preview }}" `
          -buildNumber "${{ github.run_number }}" `
          -additionalSuffix "${{ github.event.inputs.additional-suffix }}" `
          -isFinalPreview ${{ format('${0}', github.event.inputs.is-final-preview) }} `
          -useBuildNumber ${{ format('${0}', github.event.inputs.use-build-number) }}) ;
        echo "Version is set to '$version'" ;
        echo "DOTVVM_VERSION=$version" >> "${{ github.env }}"

    - name: Set up
      uses: ./.github/setup

    - name: Pack ${{ matrix.name }}
      uses: ./.github/pack
      with:
        project: ${{ matrix.project }}

    - name: Prepare signclient
      run: Write-Output "$env:SIGN_CONFIG" | Out-File "${{ github.workspace }}/signconfig.json" && dotnet tool restore
      env:
        SIGN_CONFIG: ${{ secrets.SIGN_CONFIG }}
      working-directory: ${{ github.workspace }}/src

    - name: Sign ${{ matrix.name }}
      run: >
        dotnet signclient sign `
          --baseDirectory "${{ github.workspace}}/artifacts/packages" `
          --input "*.nupkg" `
          --config "${{ github.workspace }}/signconfig.json" `
          --user "${{ secrets.SIGN_USER }}" `
          --secret "${{ secrets.SIGN_SECRET }}" `
          --name "${{ matrix.name }}" `
          --description "$('${{ matrix.name }}' + " " + $env:DOTVVM_VERSION)" `
          --descriptionUrl "https://github.com/riganti/dotvvm"
      working-directory: ${{ github.workspace }}/src

    # - name: dotvvm-types
    #   run: >
    #     cd "${{ github.workspace }}/src/Framework/Framework" && `
    #     npm run tsc-types && `
    #     cd "${{ github.workspace }}/ci/scripts/npm" && `
    #     cp "${{ github.workspace }}/src/Framework/Framework/obj/typescript-types/dotvvm.d.ts" index.d.ts && `
    #     npm version "$env:DOTVVM_VERSION" --no-git-tag-version && `
    #     cat "${{ github.workspace }}/ci/scripts/npm/dotvvm-types/package.json"

    - name: Publish ${{ matrix.name }}
      run: >
        dotnet nuget add source `
          --username "${{ secrets.AZURE_ARTIFACTS_USERNAME }}" `
          --password "${{ secrets.AZURE_ARTIFACTS_PAT }}" `
          --store-password-in-clear-text `
          --name internal `
          "${{ secrets.AZURE_ARTIFACTS_FEED }}"

        Get-ChildItem -Path "${{ github.workspace }}/artifacts/packages" -Filter "*.nupkg" | ForEach-Object {
          dotnet nuget push --api-key az --source internal "$($_.FullName)"
        }
      working-directory: ${{ github.workspace }}

    # - name: Publish dotvvm-types to the internal feed
    #   uses: JS-DevTools/npm-publish@v1
    #   with:
    #     token: ${{ secrets.NPM_TOKEN }}
    #     package: ${{ github.workspace }}/ci/scripts/npm/dotvvm-types/package.json
    #     dry-run: true

  publish-dotvvm-types:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v2

    - name: Compose version
      run: >
        $version = $(./.github/workflows/ComposeVersion.ps1 `
          -major "${{ github.event.inputs.major }}" `
          -minor "${{ github.event.inputs.minor }}" `
          -patch "${{ github.event.inputs.patch }}" `
          -preview "${{ github.event.inputs.preview }}" `
          -buildNumber "${{ github.run_number }}" `
          -additionalSuffix "${{ github.event.inputs.additional-suffix }}" `
          -isFinalPreview ${{ format('${0}', github.event.inputs.is-final-preview) }} `
          -useBuildNumber ${{ format('${0}', github.event.inputs.use-build-number) }}) ;
        echo "Version is set to '$version'" ;
        echo "DOTVVM_VERSION=$version" >> "${{ github.env }}"

    - name: Set up
      uses: ./.github/setup

    - name: Build Framework
      uses: ./.github/pack
      with:
        project: src/Framework/Framework

    - name: Build dotvvm-types
      run: npm run tsc-types
      working-directory: src/Framework/Framework

    - name: Compose dotvvm-types
      run: >
        mkdir types;
        cp "${{ github.workspace }}/src/Framework/Framework/obj/typescript-types/dotvvm.d.ts" types/index.d.ts;
        npm version "$env:DOTVVM_VERSION" --no-git-tag-version;
        cat "${{ github.workspace }}/ci/scripts/npm/dotvvm-types/package.json";
      working-directory: ci/scripts/npm/dotvvm-types

    - name: Configure internal npm registry
      run: >
        $password = [System.Convert]::ToBase64String([System.Text.Encoding]::UTF8.GetBytes("${{ secrets.INTERNAL_NPM_PAT }}"));
        $feed = "${{ secrets.INTERNAL_NPM_REGISTRY }}".Trim("https:");
        npm set --location project `
          always-auth=true `
          registry=${{ secrets.INTERNAL_NPM_REGISTRY }} `
          ${feed}:username=${{ secrets.INTERNAL_NPM_USERNAME }} `
          ${feed}:email=${{ secrets.INTERNAL_NPM_EMAIL }} `
          ${feed}:_password=$password
      working-directory: ci/scripts/npm/dotvvm-types

    - name: Publish dotvvm-types
      run: npm publish
      working-directory: ci/scripts/npm/dotvvm-types
